<template>

    <div class="card-primary">
        <div class="card-header">
            <h3 class="card-title">Detalhes do livro</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-9">
                    <h6><b>Título: </b>{{ book.title }}</h6>
                </div>

                <div class="form-group col-md-3">
                    <h6><b>Ano: </b>{{ book.year }}</h6>
                </div>

                <div class="form-group col-md-12">
                    <h6><b>Descrição: </b>{{ book.description }}</h6>
                </div>

                <div class="form-group col-md-12">
                    <h6><b>Autor: </b>{{ book.author }}</h6>
                </div>

            </div>
        </div>

    </div>

</template>

<script>
    export default {
        name: "modal-detail",
        props: ['book'],
        created() {
            console.log(this.$props.book);
        },
        computed: {
            reservation() {
                return this.$props.book.reservation
            }
        }
    }
</script>

<style scoped>

</style>