<template>
        <div class="row">
            <book-card v-for="book in books" :key="book.id" :book="book"></book-card>

            <div class="col-md-12" v-show="books.length == 0">
                <h2 style="margin-left:0px;" class="text-muted">Você ainda não possui livros...</h2>
            </div>

        </div>
</template>

<script>
    export default {
        created() {
            this.$store.dispatch('loadBooksRent')
        },

        computed: {
            books() {
                return this.$store.state.books.items_rent;
            }
        },

        methods: {
            reservation: function () {

            }
        }

    }
</script>

<style scoped>

</style>