<template>

    <div>
        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped table-valign-middle table-hover">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Preview</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th class="text-right">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <book
                            v-for="(item, index) in books"
                            :key="item.id"
                            :book="item"
                            :index="index"
                            @show-rent-detail="showRentDetail"
                            @show-book-detail="showBookDetail">
                    </book>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>

<script>

    import RentModalDetail from './RentModalDetail.vue';
    import BookModalDetail from './BookModalDetail.vue';

    export default {
        created() {
            this.$store.dispatch('loadBooks')
        },

        data: function () {
            return {
                modalShow: true
            }
        },

        computed: {
            books() {
                return this.$store.state.books.items;
            }
        },

        methods: {
            show: function() {
                this.$modal.show({
                    render(h) {
                        return h(ModalTeste, {
                            text: 'meu Deus deu certo, obrigado pai!',
                            on: {
                                myEvent(param) {
                                    alert(param);
                                }
                            }
                        });
                    }
                });
            },

            showRentDetail: function(param){

                this.$modal.show(RentModalDetail, {
                    book: param.book
                },{
                    height: 'auto'
                },{
                    draggable: true
                })

            },

            showBookDetail: function(param){

                this.$modal.show(BookModalDetail, {
                    book: param.book
                },{
                    height: 'auto'
                },{
                    draggable: true
                })

            }

        }

    }
</script>

<style scoped>
    .card-title {
        margin-bottom: 0rem;
    }

</style>