<template>
    <tr>
        <td class="text">{{ ("0000" + book.id).slice(-4) }}</td>
        <td class=""><img style="width:40px; height: 60px;" class="img-size-32 mr-2"
                          :src="this.$path.img + book.image"/></td>
        <td class="text">{{ book.title }}</td>
        <td class="text">{{ book.description_status }}</td>
        <td class="text text-right">
            <b-button-group size="sm">
                <b-button
                        v-on:click="deleteBook(book.id, index)"
                        v-if="this.$gate.isAdmin()"
                        variant="danger">
                    apagar
                </b-button>
                <b-button
                        v-on:click="showForm(book)"
                        v-if="showrent()"
                        variant="primary">
                    alugar
                </b-button>
                <b-button
                        @click="$emit('show-book-detail',{book:book})"
                        variant="primary">
                    detalhes do livro
                </b-button>
                <b-button
                        v-if="this.$gate.viewDetailReservation(book)"
                        @click="$emit('show-rent-detail',{book:book})"
                        variant="primary">
                    detalhes da reveserva
                </b-button>
                <b-button
                        v-if="showreserverd()"
                        v-on:click="reserved(book.id)"
                        variant="success">
                    reservar
                </b-button>
                <b-button v-if="this.$gate.isClerk() && book.is_rent == true"
                          v-on:click="giveBack(book.id, reservation.user.id)"
                          variant="primary">
                    devolver
                </b-button>
                <b-button v-if="this.$gate.isReader() && book.is_reservation == true && this.user.id == this.$props.book.reservation.user.id"
                          v-on:click="desistReservation(book.id)"
                          variant="warning">
                    desistir da reserva
                </b-button>
            </b-button-group>

        </td>
    </tr>
</template>

<script>

    import FormRentBook from '../forms/FormRentBook.vue';

    export default {
        props: ['book', 'index'],

        created() {
            console.log(this.$props.book.reservation.user.id);
        },
        data: function () {
            return {
                type: Laravel.user.type,
                user: Laravel.user,
                indx: null,
                status: ''
            }
        },
        computed: {
            contReservation() {
                return this.book.reservation;
            },
            reservation() {
                return this.book.reservation;
            }
        },
        methods: {

            deleteBook: function (id, index) {

                var vm = this;

                this.$modal.show('dialog', {
                    title: 'Deseja realmente apagar este livro?',
                    buttons: [
                        {
                            title: 'Sim',
                            handler: () => {
                                this.$store.dispatch('deleteBook', {id: id, index: index})
                                    .then(response => {
                                        if(response.data.success == true){
                                            this.$store.commit('DELETE_BOOK', index)
                                            vm.$toast('Livro excluído.');
                                        }
                                    }).catch( function(error) {
                                        vm.$toast(error.response.data.message);
                                });
                            }
                        },
                        {
                            title: 'Não'
                        }
                    ]
                })
            },

            showForm: function (book) {

                let id = book.id;

                var v = this;

                this.$store.dispatch('findBook',{id:id})
                    .then(function ( response ) {
                        console.log(response);
                        v.$modal.show({
                            render(h) {
                                return h(FormRentBook, {
                                    props: {
                                        book: response.data
                                    },
                                    on: {
                                        myEvent(param) {
                                            alert(param);
                                        }
                                    }
                                },{
                                    height: 'auto'
                                }, {
                                    draggable: true
                                });
                            }
                        });

                    });
            },

            hideForm: function (modalid) {
                this.$modal.hide('form-rent-' + modalid);
            },

            showrent: function () {
                if (this.type == 'clerk') {
                    if (this.$props.book.is_rent == true) {
                        return false;
                    }
                    if (this.$props.book.is_reservation == true) {
                        return true;
                    }
                    if (this.$props.book.is_rent == false && this.$props.book.is_reservation == false) {
                        return true;
                    }
                }
                return false;
            },

            showreserverd: function () {
                if (this.$gate.isReader()) {
                    if (this.$props.book.is_rent == true){
                        return false;
                    }
                    if(this.$props.book.is_reservation == true) {
                        return false;
                    }
                    if(this.$props.book.is_reservation == false) {
                        return true;
                    }
                }
                return false;
            },

            reserved: function (id_book) {

                this.$modal.show('dialog', {
                    title: 'Ao reservar um lívro você se compromete a ir buscá-lo na biblioteca em até 1 dia útil. ' +
                        'Caso passe desse prazo, sua reserva será cancelada. Deseja confirmar a reserva?',
                    buttons: [
                        {
                            title: 'Sim',
                            handler: () => {
                                this.$store.dispatch('reservedBook', {id: id_book})
                                    .then(response => {
                                        if (response.data.success == true) {
                                            this.$store.dispatch('loadBooks');
                                            this.$modal.hide('dialog');
                                            this.$modal.show('dialog', {
                                                title: 'Reserva efetuada. ',
                                                buttons: [{title: 'Ok'}]
                                            })
                                        }
                                    }, (error) => {
                                        this.$modal.hide('dialog');
                                        this.$modal.show('dialog', {
                                            title: error.response.data.message,
                                            buttons: [{title: 'Close'}]
                                        })
                                    });
                            }
                        },
                        {
                            title: 'Não'
                        }
                    ]
                })


            },

            giveBack: function (id_book, id_user) {
                this.$modal.show('dialog', {
                    title: 'Deseja realmente devolver este livro?',
                    buttons: [
                        {
                            title: 'Sim',
                            handler: () => {
                                this.$store.dispatch('giveBack', {id: id_book, user_id: id_user})
                                    .then(response => {
                                        this.$modal.hide('dialog');
                                        this.$store.dispatch('loadBooks')
                                        this.hideForm(id_book);
                                        this.$modal.show('dialog', {
                                            title: response.data.message,
                                            buttons: [{title: 'Ok'}]
                                        })
                                    }, (error) => {
                                        this.$modal.show('dialog', {
                                            title: error.response.data.message,
                                            buttons: [{title: 'Close'}]
                                        })
                                    });
                            }
                        },
                        {
                            title: 'Não'
                        }
                    ]
                })
            },

            rentBook: function (params) {
                var datas = {
                    'user_id': params.user_id,
                    'book_id': params.book_id,
                    'index': this.indx
                }
                this.$store.dispatch('rentBook', datas)
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('loadBooks')
                        this.hideForm(params.book_id);
                        this.$modal.show('dialog', {
                            title: response.data.message,
                            buttons: [{title: 'Ok'}]
                        })
                    }, (error) => {
                        this.$modal.show('dialog', {
                            title: error.response.data.message,
                            buttons: [{title: 'Close'}]
                        })
                    });
            },

            desistReservation: function(id_book) {
                this.$modal.show('dialog', {
                    title: 'Deseja realmente desistir deste livro?',
                    buttons: [
                        {
                            title: 'Sim',
                            handler: () => {
                                this.$store.dispatch('desistReservation', {id: id_book})
                                    .then(response => {
                                        this.$modal.hide('dialog');
                                        this.$store.dispatch('loadBooks')
                                        this.$modal.show('dialog', {
                                            title: response.data.message,
                                            buttons: [{title: 'Ok'}]
                                        })
                                    }, (error) => {
                                        this.$modal.show('dialog', {
                                            title: error.response.data.message,
                                            buttons: [{title: 'Close'}]
                                        })
                                    });
                            }
                        },
                        {
                            title: 'Não'
                        }
                    ]
                })
            }
        }
    }
</script>

<style>
    .v--modal {
        position: relative;
        height: auto !important;
        top: 50px !important;
        z-index: 999 !important;
    }

    .modal-body {
        overflow-y: auto !important;
    }

    .v--modal-overlay {
        overflow-y: auto;
        z-index: 999 !important;
    }

</style>