<template>

    <b-card no-body class="overflow-hidden col-md-3" >
        <b-row no-gutters>
            <b-col md="6">
                <b-card-img :src="this.$path.img + book.image" class="rounded-0"></b-card-img>
            </b-col>
            <b-col md="6">
                <b-card-body >
                    <h4 class="card-title">
                        <a href="#"><b>{{ book.title }}</b>   </a>
                    </h4>
                    <b-card-text class="text-left">
                        <small>
                            <a href="javascript:void(0)" style="margin-left: 5px;" v-on:click="showDetail(book)">Ver detalhes</a>
                        </small>
                    </b-card-text>
                </b-card-body>
            </b-col>
        </b-row>
    </b-card>

</template>

<script>
    import BCol from "bootstrap-vue/src/components/layout/col";
    import BookModalDetail from './BookModalDetail.vue';

    export default {
        name: "BookCard",
        components: {BCol},
        props: ['book'],
        created() {

        },
        methods: {
            reservation: function (id) {
                this.$store.dispatch('reservationBook', {book_id: id})
            },

            limitText: function (string = '') {
                return string.substring(0, 40);
            },

            showDetail: function (book) {

                this.$modal.show(BookModalDetail, {
                    book: book
                }, {
                    height: 'auto'
                }, {
                    draggable: true
                })

            }
        }
    }
</script>

<style scoped>

    .card {
        background-color: transparent !important;
        box-shadow: none;
        padding: 10px;
    }

    .card-title {
        font-size: 1rem !important;
        text-align: left;
    }
    .card-body {
        text-align: center;
        padding-left: 3px !important;
        padding-right: 5px !important;
        padding: 0.20rem !important;
    }

    .card-text:last-child {
        margin-bottom: 0;
        margin-bottom: 0px !important;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        left: 0px;
    }

    .card img {
        box-shadow: 0px 0px 5px 1px #999999 !important;
        border-radius: 5px !important;
        height: 180px !important;
    }


</style>