<template>
    <b-row>
        <book-card v-for="book in books" :key="book.id" :book="book"></book-card>
    </b-row>
</template>

<script>
    export default {
        created() {
            this.$store.dispatch('loadReservationBooks')
        },

        computed: {
            books() {
                return this.$store.state.books.items;
            }
        },

        methods: {
            reservation: function () {

            }
        }

    }
</script>

<style scoped>

</style>