<template>
    <div>
        <b-modal hide-footer size="lg" id="modal-1" title="Cadastro de livro">
            <b-form @submit.prevent="onSubmit" v-if="show">
                <b-row>
                    <b-col cols="6">
                        <b-form-group v-bind:class="{'has-error' : errors.has('title')}"
                                id="input-group-1"
                                label="*Título:"
                                label-for="input-1">
                            <b-form-input
                                    id="input-1"
                                    type="text"
                                    class="mb-2 mr-sm-2 mb-sm-0"
                                    v-model="form.title"
                                    name="title"
                                    placeholder="Título do livro"
                            ></b-form-input>
                            <div v-show="errors.has('title')" class="invalid-feedback d-block">
                                {{ errors.first('title') }}
                            </div>

                        </b-form-group>

                    </b-col>

                    <b-col cols="6">
                        <b-form-group
                                id="input-group-1"
                                label="Autor:"
                                label-for="input-1">
                            <b-form-input
                                    id="input-1"
                                    v-model="form.author"
                                    type="text"
                                    placeholder="Autor do livro"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col cols="6">
                        <b-form-group
                                id="input-group-1"
                                label="Editora:"
                                label-for="input-1">
                            <b-form-input
                                    id="input-1"
                                    class="mb-2 mr-sm-2 mb-sm-0"
                                    v-model="form.publishing_company"
                                    type="text"
                                    placeholder="Editora..."
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col cols="6">
                        <b-form-group
                                id="input-group-1"
                                label="Ano:"
                                label-for="input-1">
                            <b-form-input
                                    id="input-1"
                                    v-model="form.year"
                                    type="number"
                                    placeholder="Ano do livro"
                            ></b-form-input>
                        </b-form-group>
                    </b-col>

                    <b-col cols="12">
                        <b-form-group
                                id="input-group-1"
                                label="*imagem do livro:"
                                label-for="input-1">
                            <b-form-file
                                    v-model="form.image"
                                    :state="Boolean(form.image)"
                                    @change="onFileSelected"
                                    placeholder="Choose a file..."
                                    drop-placeholder="Drop file here..."
                                    name="image"
                            ></b-form-file>
                        </b-form-group>
                        <div v-show="errors.has('image')" class="invalid-feedback d-block">
                            {{ errors.first('image') }}
                        </div>
                    </b-col>

                    <b-col cols="12">
                        <b-form-group
                                id="input-group-1"
                                label="*Descrição:"
                                label-for="input-1">
                        <b-form-textarea
                                id="textarea-no-resize"
                                placeholder="Fixed height textarea"
                                v-model="form.description"
                                rows="3"
                                name="description"
                                no-resize
                        ></b-form-textarea>
                            <div v-show="errors.has('description')" class="invalid-feedback d-block">
                                {{ errors.first('description') }}
                            </div>
                        </b-form-group>
                    </b-col>

                    <b-col cols="12">
                        <b-button type="submit" :disabled="!button" variant="primary">Salvar</b-button>
                        <b-button type="reset"  variant="danger">Resetar campos</b-button>
                    </b-col>

                    <b-col cols="12" v-if="message">
                        <br />
                        <b-alert variant="success" show>{{ message }}</b-alert>
                    </b-col>

                    <b-col cols="12" v-if="error">
                        <br />
                        <b-alert variant="danger" show>{{ error }}</b-alert>
                    </b-col>

                </b-row>

            </b-form>
        </b-modal>
    </div>
</template>

<script>
    import Vue from 'vue';
    import VeeValidate from 'vee-validate';
    import VeeValidateLaravel from 'vee-validate-laravel';

    Vue.use(VeeValidate);
    Vue.use(VeeValidateLaravel);

    export default {
        created() {

        },
        data() {
            return {
                showDismissibleAlert: true,
                show: true,
                selectedFile: null,
                button: true
            }
        },
        computed: {
            message() {
                return this.$store.state.books.message;
            },
            error() {
                return this.$store.state.books.error;
            },
            form() {
                return this.$store.state.books.form;
            }
        },
        methods: {
            onSubmit(evt) {
                        const vm = this;
                        evt.preventDefault()
                        const file = this.selectedFile
                        let formData = new FormData();
                        formData.append('image', file);
                        formData.append('title', this.form.title);
                        formData.append('description', this.form.description);
                        formData.append('year', this.form.year);
                        formData.append('author', this.form.author);
                        formData.append('image', this.form.image);
                        formData.append('publishing_company', this.form.publishing_company);
                        this.button = false;
                        this.$store.dispatch('storeBook', formData)
                            .then(response => {
                                if(response.data.success == true){
                                    vm.$store.commit('SHOW_MESSAGE', 'Salvo','success')
                                    vm.$store.commit('ADD_BOOK', response.data.data)
                                    vm.$store.commit('RESET_FORM')
                                    vm.button = true;
                                    this.$store.dispatch('loadBooks')
                                }
                            }, function(error) {
                                if(error.response.status == 422){
                                    vm.$setLaravelValidationErrorsFromResponse(error.response.data);
                                    vm.button = true;
                                }
                                vm.button = true;
                            });
            },
            onFileSelected(event) {
                this.selectedFile = event.target.files[0]
            }
        }
    }
</script>

<style scoped>

</style>