<template>

        <div class="card-primary">
        <div class="card-header">
            <h3 class="card-title">Detalhes</h3>
        </div>
            <div class="card-body">

                <div class="form-group">
                    <label for="">Leitor:</label>
                    <input type="text" :value="reservation.user.name" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label for="">Livro:</label>
                    <input type="text" :value="book.title" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label for="">Status:</label>
                    <input type="text" :value="book.description_status" class="form-control" disabled>
                </div>

                <div class="form-group" v-if="book.is_rent == true">
                    <label for="" >Data da entrega:</label>
                    <input type="text" :value="this.formatDate()" class="form-control" disabled>
                </div>

                <div class="form-group" v-if="book.is_reservation == true">
                    <label for="" >Reservado até as:</label>
                    <input type="text" :value="this.formatDateTime()" class="form-control" disabled>
                </div>

            </div>

    </div>

</template>

<script>
    export default {
        name: "modal-detail",
        props: ['book'],
        created(){

        },
        computed: {
            reservation() {
                return this.$props.book.reservation
            }
        },
        methods: {
            formatDate(){
                var today = new Date(Date.parse(this.reservation.delivery_date));
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                return dd + '/' + mm + '/' + yyyy ;
            },

            formatDateTime(){
                var today = new Date(Date.parse(this.reservation.delivery_date));
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                return dd + '/' + mm + '/' + yyyy + ' ' + today.getHours() + ':' + today.getMinutes();
            }
        }
    }
</script>

<style scoped>

</style>