<template>
    <div class="card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ book.title }}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">

            <div class="card-body">
                <div v-if="book.is_reservation == true">

                    <h5 v-if="book.is_reservation == true" class="box-title">Este livro está reservado para <b>{{ book.reservation.user.name }}</b></h5>

                </div>

                <div v-if="(book.is_reservation == false) && (book.is_rent == false)">
                    <h5 class="box-title">Alugar este livro para: </h5>

                    <div v-if="(book.is_reservation == false) && (book.is_rent == false)">
                        <b-form-select v-model="user_id" class="mb-3">
                            <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
                        </b-form-select>
                    </div>
                </div>

                <b-form inline>
                    <label class="mr-sm-2" for="">Alugar por: </label>

                    <b-form-input
                            id=""
                            v-model="number_days"
                            type="text"
                            required
                            class="col-md-2 col-xs-2"
                    ></b-form-input>
                    <label class="mr-sm-2" for="" style="margin-left: 4px;"> dias</label>
                </b-form>
                <div v-if="book.is_rent == true">
                    <h5 class="box-title">Este livro está alugado para <b>{{ book.reservation.user.name }}</b></h5>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer" v-if="(book.is_reservation == false) && (book.is_rent == false) || (book.is_reservation == true)">
                <button type="button" v-on:click="rentBook(book_id,user_id)" class="btn pull-left btn-primary">Alugar</button>
                <h6 class="pull-left" style="margin-top:9px; margin-left:8px;" v-show="number_days > 0">Entregar em: {{ calcDate() }}</h6>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "form-rent-book",
        props: ['book'],
        created() {
            this.$store.dispatch('loadUsers');
            console.log(this.$props.book);
            this.book_id = this.$props.book.id;
            this.user_id = (this.$props.book.is_reservation == true) ? this.$props.book.reservation.user_id : ''
        },
        data: () => {
              return {
                  book_id: '',
                  user_id: '',
                  name_user_reserved: '',
                  date_future: '',
                  number_days: 0,
              }
        },
        computed: {
            users(){
                return this.$store.state.users.items
            }
        },
        methods: {
            calcDate: function () {
                if(this.number_days > 0){
                    var depois = new Date();
                    depois.setDate(depois.getDate() + parseInt(this.number_days));
                    return depois.getDate() + "/" + (depois.getMonth() + 1 ) + "/" + depois.getFullYear();
                }
            },
            rentBook: function (book_id,user_id) {
                var datas = {
                    'user_id': user_id,
                    'book_id': book_id,
                    'number_days': this.number_days
                }
                this.$store.dispatch('rentBook', datas)
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('loadBooks')
                        $(".v--modal-overlay").remove();
                        this.$modal.show('dialog', {
                            title: response.data.message,
                            buttons: [{title: 'Ok'}]
                        })
                    }, (error) => {
                        this.$modal.show('dialog', {
                            title: error.response.data.message,
                            buttons: [{title: 'Close'}]
                        })
                    });
            }
        }
    }
</script>

<style scoped>

</style>